<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iobserve.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-013.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iobserve</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$iobserve</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Connection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:wwl8j4ylj9.database.windows.net,1433;Initial Catalog=iObserve01;Integrated Security=False;User ID=hse2go;Password=azure@108;Connect Timeout=0;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:wwl8j4ylj9.database.windows.net,1433;Initial Catalog=iObserve01;Integrated Security=False;User ID=hse2go;Password=azure@108;Connect Timeout=0;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Connection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=tcp:wwl8j4ylj9.database.windows.net,1433;database=iObserve01;user id=hse2go;password=azure@108;trusted_connection=False;encrypt=True;connection timeout=0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Connection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wwl8j4ylj9.database.windows.net,1433;Initial Catalog=iObserve01;Integrated Security=False;User ID=hse2go;Password=azure@108;Connect Timeout=0;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>